/* General Styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; /* Light gray background */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for theme change */
}

h1,
h2,
h3 {
    margin: 1rem 0;
}

/* Header */
#main-title {
    text-align: center;
    color: red; /* Green color for the main title */
    font-size: 2.5rem; /* Larger font size for the main title */
}

h1, h3 {
    text-align: center;
}
h3{
    color: red;
}

/* Summary Section */
.summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.summary div {
    text-align: center;
}

/* Controls Section */
.controls {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.controls button {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: green; /* Light green for buttons */
    color: white;
}

.controls button:hover {
    background-color: darkgreen; /* Darker green on hover */
}

/* Table Section */
table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 0.5rem 1rem;
    border: 1px solid green
}

tr.titles {
    background-color: white; /* Light gray for table titles */
}

.red {
    color: red;
}

.green {
    color: green;
}

/* Form Section */
.new {
    margin-top: 1rem;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.inputitem {
    margin-right: 1rem;
    flex-grow: 1;
}

select,
input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid green;
    border-radius: 3px;
}

/* Button Styling */
button {
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Add Expense Button */
button[onclick="addItem()"] {
    background-color: green; /* Blue for add expense button */
    color: white;
}

button[onclick="addItem()"]:hover {
    background-color: darkgreen; /* Darker blue on hover */
}

/* Theme Toggle Button */
#theme-toggle {
    background-color: white; /* Green for theme toggle button */
    color: black;
}

#theme-toggle:hover {
    background-color: lightblue; /* Darker green on hover */
}

/* Dark Theme Styles */
body.dark-theme {
    background-color: #333;
    color: #f5f5f5;
}

body.dark-theme table {
    border: 1px solid green;
}

body.dark-theme th,
body.dark-theme td {
    border: 1px solid #444;
    background-color: #555;
}

body.dark-theme tr.titles {
    background-color: green;
}

/* Targeting Delete Cell (Optional) */
.zoom {
    font-size: 1.2rem; /* Increase font size for "X" symbol (optional) */
    cursor: pointer;
}
